<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.xq.tmall.dao.ProductOrderItemMapper">
    <resultMap id="productOrderItemMap" type="com.xq.tmall.entity.ProductOrderItem">
        <id property="productOrderItem_id" column="productorderitem_id"/>
        <result property="productOrderItem_number" column="productorderitem_number"/>
        <result property="productOrderItem_price" column="productorderitem_price"/>
        <result property="productOrderItem_userMessage" column="productorderitem_usermessage"/>
        <association property="productOrderItem_product" javaType="com.xq.tmall.entity.Product">
            <id property="product_id" column="productorderitem_product_id"/>
        </association>
        <association property="productOrderItem_order" javaType="com.xq.tmall.entity.ProductOrder">
            <id property="productOrder_id" column="productorderitem_order_id"/>
        </association>
        <association property="productOrderItem_user" javaType="com.xq.tmall.entity.User">
            <id property="user_id" column="productorderitem_user_id"/>
        </association>
    </resultMap>

    <insert id="insertOne" parameterType="com.xq.tmall.entity.ProductOrderItem">
        INSERT productorderitem
        (productorderitem_id,productorderitem_number,productorderitem_price,productorderitem_product_id,productorderitem_order_id,productorderitem_user_id,productorderitem_usermessage)
        VALUES (
        null,
        #{productOrderItem.productOrderItem_number},
        #{productOrderItem.productOrderItem_price},
        #{productOrderItem.productOrderItem_product.product_id},
        #{productOrderItem.productOrderItem_order.productOrder_id},
        #{productOrderItem.productOrderItem_user.user_id},
        #{productOrderItem.productOrderItem_userMessage})
    </insert>
    <update id="updateOne" parameterType="com.xq.tmall.entity.ProductOrderItem">
        UPDATE productorderitem
        <set>
            <if test="productOrderItem.productOrderItem_order != null">
                productorderitem_order_id = #{productOrderItem.productOrderItem_order.productOrder_id},
            </if>
            <if test="productOrderItem.productOrderItem_number != null">
                productorderitem_number = #{productOrderItem.productOrderItem_number},
            </if>
            <if test="productOrderItem.productOrderItem_price != null">
                productorderitem_price = #{productOrderItem.productOrderItem_price},
            </if>
            <if test="productOrderItem.productOrderItem_userMessage != null">
                productorderitem_usermessage = #{productOrderItem.productOrderItem_userMessage}
            </if>
        </set>
        <where>
            productorderitem_id = #{productOrderItem.productOrderItem_id}
        </where>
    </update>
    <delete id="deleteList" parameterType="java.util.ArrayList">
        DELETE FROM productorderitem
        <where>
            productorderitem_id IN
            <foreach collection="productOrderItem_id_list" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </delete>
    <select id="select" parameterType="com.xq.tmall.util.PageUtil" resultMap="productOrderItemMap">
        SELECT
        productorderitem_id,productorderitem_number,productorderitem_price,productorderitem_product_id,productorderitem_order_id,productorderitem_user_id,productorderitem_usermessage
        FROM productorderitem
        <if test="pageUtil != null">
            LIMIT #{pageUtil.index},#{pageUtil.count}
        </if>
    </select>
    <select id="selectByOrderId" resultMap="productOrderItemMap">
        SELECT
        productorderitem_id,productorderitem_number,productorderitem_price,productorderitem_product_id,productorderitem_order_id,productorderitem_user_id,productorderitem_usermessage
        FROM productorderitem
        <where>
            productorderitem_order_id = #{order_id}
        </where>
        <if test="pageUtil != null">
            LIMIT #{pageUtil.index},#{pageUtil.count}
        </if>
    </select>
    <select id="selectByUserId" resultMap="productOrderItemMap">
        SELECT
        productorderitem_id,productorderitem_number,productorderitem_price,productorderitem_product_id,productorderitem_order_id,productorderitem_user_id,productorderitem_usermessage
        FROM productorderitem
        <where>
            productorderitem_user_id = #{user_id} and productorderitem_order_id is null
        </where>
        <if test="pageUtil != null">
            LIMIT #{pageUtil.index},#{pageUtil.count} AND productorderitem_order_id is null
        </if>
    </select>
    <select id="selectByProductId" resultMap="productOrderItemMap">
        SELECT
        productorderitem_id,productorderitem_number,productorderitem_price,productorderitem_product_id,productorderitem_order_id,productorderitem_user_id,productorderitem_usermessage
        FROM productorderitem
        <where>
            productorderitem_product_id = #{product_id}
        </where>
        <if test="pageUtil != null">
            LIMIT #{pageUtil.index},#{pageUtil.count}
        </if>
    </select>
    <select id="selectOne" resultMap="productOrderItemMap" parameterType="int">
        SELECT
        productorderitem_id,productorderitem_number,productorderitem_price,productorderitem_product_id,productorderitem_order_id,productorderitem_user_id,productorderitem_usermessage
        FROM productorderitem
        <where>
            productorderitem_id = #{productOrderItem_id}
        </where>
    </select>
    <select id="selectTotal" resultType="int">
        SELECT COUNT(productorderitem_id) FROM productorderitem
    </select>
    <select id="selectTotalByOrderId" resultType="int">
        SELECT COUNT(productorderitem_id) FROM productorderitem
        <where>
            productorderitem_order_id = #{order_id}
        </where>
    </select>
    <select id="selectTotalByUserId" resultType="int">
        SELECT COUNT(productorderitem_id) FROM productorderitem
        <where>
            productorderitem_user_id = #{user_id} and productorderitem_order_id is null
        </where>
    </select>
    <select id="selectTotalByProductId" resultType="int">
        SELECT COUNT(productorderitem_id) FROM productorderitem
        <where>
            productorderitem_product_id = #{product_id}
        </where>
    </select>
    <select id="selectSaleCount" resultType="int">
        SELECT SUM(productorderitem_number) FROM productorderitem WHERE productorderitem_product_id = #{product_id}
    </select>
</mapper>
